[2018-04-04 13:58] insomniacslk opened #2 "Add option to save attachments locally"
Slack deletes the oldest attached files. Let's add a command line option to save them so they're not lost!

[2018-04-04 15:51] insomniacslk opened #3 "Implement JOIN / PART"

[2018-04-04 21:30] insomniacslk opened #4 "Fix direct messages"
Direct messages (IMs in Slack / PRIVMSG to an user in IRC) are not working correctly if writing/reading from different sources (e.g. the web UI, the IRC gateway)

[2018-04-08 14:42] insomniacslk opened #5 "Add TLS support"
Currently there is no TLS support, but it has to be added

[2018-04-08 14:43] insomniacslk opened #6 "Hide sensitive information in logs"
Some commands contain sensitive information, e.g. PASS, and they are printed in the logs. Hide the sensitive information.

[2018-04-08 22:36] insomniacslk opened #7 "Automate build creation"
At every release, also automatically publish the artifacts. See https://docs.travis-ci.com/user/deployment/releases/

[2018-04-12 07:17] insomniacslk opened #8 "Speed up channel join upon connection"
When connected to a Slack team, joining channels/groups seems to be slower than necessary. This is done in two steps:
1) get the list of slack channels and groups (via `GetChannels` and `GetGroups` on the slack API object)
2) for each channel, reply to the client with the various chan info.

This can be slow on larger teams - look for what can be sped up.

[2018-04-12 08:05] insomniacslk commented on #8
Done in https://github.com/insomniacslk/irc-slack/commit/8c55d26a7e8c1d4339dee59bade08229e123fd78

[2018-04-12 08:05] #8 closed

[2018-04-14 16:55] insomniacslk opened #9 "Add link preview"
When a link is posted, also show its title

[2018-04-15 08:10] insomniacslk opened #10 "Add comments to attachments"
When sharing an attachment, also show the comment to the attachment

[2018-04-15 10:24] insomniacslk commented on #10
This actually already works

[2018-04-15 10:24] #10 closed

[2018-05-11 02:49] chex3 opened #11 "IRC Nicknames aren't showing up properly"
The nickname, or username of the person chatting on each slack channel is not working properly.

In most cases, it is just sending a "U#######" string for each person, altho it does occasionally send a person's username:

I assume this is a Slack internal ID being sent out.

This is the number one bug/issue for me, makes chatting in the Slack channels almost useless, if I cant hilite people back i

[2018-05-11 06:58] insomniacslk commented on #11
hey Stefan,

thanks for reporting! This should only happen when new people join the team, or if something goes wrong when fetching the user list upon the first connection, but it should be an easy fix. The first is basically https://github.com/insomniacslk/irc-slack/issues/3 . The latter, I've never seen in practice.

Can you verify if this issue appears only with newly joined people?

Thanks

[2018-05-12 23:49] insomniacslk commented on #11
I can't reproduce locally, but I had a feeling about what it could be. @chex3 mind to test it with this patch? https://github.com/insomniacslk/irc-slack/compare/nick_join_part

[2018-05-13 23:36] insomniacslk commented on #11
I could reproduce the error. This happens on larger Slack channels/teams. Slack started truncating the list of members as of December 2017, https://api.slack.com/changelog/2017-10-members-array-truncating . Currently the list is capped at 500 members, so only 500 people per channel will be resolved from ID to name.

The solution is to use `conversation.members` instead. I will work on a fix in the

[2018-05-16 02:01] insomniacslk commented on #11
I fixed the issue on my side but this also needs fixing in the underlying slack library as pointed out in the above PR

[2018-05-16 02:02] insomniacslk commented on #11
I also need to port that code for groups, and refactor and clean it up

[2018-05-16 04:56] Crazyguy opened #13 "unrecornized import when running go get"
Hello,

I get the following error when trying to install on Debian:
[code]
I'm running debian 8 with go installed from debian packages:
[code]

[2018-05-16 05:53] chex3 commented on #13
Hi, Debian8 stock contains too old a version of GoLang. You need to install the backported version for Debain8 that is 1.7.x :

ii  golang                     2:1.7~5~bpo8+1                   amd64        Go programming language compiler - metapackage

Then it will install and build.

- Stefan

[2018-05-16 16:08] marvinpinto commented on #7
Thank you creating this project, it will be very useful now that Slack has sunset their IRC gateway. :100:

Couple questions:

1. Could you cut a new release with the latest commits?
1. Are you looking for help with automating releases & generating the binaries? (this issue)

[2018-05-16 16:30] marvinpinto commented on #7
Awesome, thank you again for your work :smile:

[2018-05-16 20:08] insomniacslk commented on #7
no worries, thank you for your feedback, and please keep reporting bugs :)

[2018-05-18 08:47] insomniacslk commented on #3
JOIN implemented at https://github.com/insomniacslk/irc-slack/commit/4affc4f061cf584cf6c3afe5d9ad013ca8be84da

[2018-05-18 23:11] insomniacslk opened #16 "Improve WHOIS command"
Currently WHOIS shows only basic information, e.g.:

[code]

Slack supports additional information, e.g. Title, Email, Phone. It'd be nice to show them too.

[2018-05-18 23:43] insomniacslk opened #18 "Implement INVITE"

[2018-05-18 23:43] insomniacslk opened #19 "Implement KICK"

[2018-05-18 23:46] insomniacslk commented on #3
PART implemented at https://github.com/insomniacslk/irc-slack/pull/17

[2018-05-18 23:48] #3 closed

[2018-05-19 09:21] insomniacslk opened #20 "Use Conversations API"
Use the [Conversations API](https://api.slack.com/docs/conversations-api) rather than the various channels/groups/IMs/multi-person APIs. This will simplify the code a lot, and make the missing types of conversation work

[2018-05-19 09:36] insomniacslk commented on #20
under work in https://github.com/insomniacslk/irc-slack/pull/21

[2018-05-19 09:50] insomniacslk commented on #20
Need to use it in more places, but the most important part is done

[2018-05-19 09:51] insomniacslk commented on #4
https://github.com/insomniacslk/irc-slack/pull/21 mostly fixes private messages.

When the direct message is sent from me, but from another source (like the web UI), it still doesn't show up correctly, but the other cases are resolved

[2018-05-19 09:57] insomniacslk commented on #4
The last case is due to how direct conversations (whose IDs starts with `D`) are resolved. I need to resolve the users of a direct conversation and show the IRC message as being sent to that person

[2018-05-19 17:37] insomniacslk commented on #4
ok, this requires a bit more changes.

When I write direct message from the web UI, the IRC client receives an event on the Direct Message conversation with another user. However the message object only contains the conversation ID, not the other user's ID. I need to keep a mapping of direct conversation ID -> other user internally to get this right.

[2018-05-19 18:37] insomniacslk commented on #4
well, this took some troubleshooting but I got it fixed, https://github.com/insomniacslk/irc-slack/pull/23

[2018-05-19 18:40] insomniacslk opened #24 "Convert calls from IrcContext.GetUserInfo to slack.GetUserByID"
Those two functions do basically the same thing.

Then remove IrcContext.GetUserInfo

[2018-05-19 18:41] #4 closed

[2018-05-19 19:37] insomniacslk opened #25 "Handle Slack rate limit errors"
Wherever it makes sense, handle `slack.RateLimitedError`.

[2018-05-21 21:18] insomniacslk commented on #25
First attempt at https://github.com/insomniacslk/irc-slack/pull/26

[2018-05-26 09:07] insomniacslk commented on #25
erroneously force-pushed a previous commit. Re-committed in #27

[2018-06-03 20:50] insomniacslk opened #28 "Fix join/part"
currently join/part doesn't work:
[code]
and the user remains in the chan list

[2018-06-03 20:51] insomniacslk commented on #13
considering this resolved

[2018-06-03 20:51] #13 closed

[2018-09-03 08:37] pztrn opened #34 "Dependencies vendoring"
Every good application should have it's depenencies vendored :)

[2018-09-04 20:29] insomniacslk commented on #34
hey @pztrn :) thanks for your suggestion! I am not really a fan of vendoring, and given that go1.11 stable is very close to being released I'll rather use module versioning as soon as it becomes stable

[2018-09-26 15:22] Syloq opened #35 "Private channels not being allowed to join"
After setting this up I noticed that when I tried to join a "private" channel on slack that it reported in the server log (and not to the client):

Cannot join channel #secret-channel-here: name_taken

I assume this is because secret/private channels on slack are treated in a completely different way. Is there a workaround for this?

[2018-09-27 16:51] insomniacslk commented on #35
hey @Syloq , thanks for reporting this bug. This sounds like a regression, I will look into it

[2018-09-27 17:05] insomniacslk commented on #35
@Syloq can you please test https://github.com/insomniacslk/irc-slack/pull/36 and let me know if this fixes the issue for you?

[code]

[2018-09-27 19:10] #35 closed

[2018-09-27 19:10] insomniacslk commented on #35
I merged the PR, it seems to be working well. Let me know if this doesn't work for you or if you find any issue (or feel free to close this issue)

[2018-09-27 22:27] Syloq commented on #35
@insomniacslk I was able to pull this just now and it works perfectly! Thanks for the fix.

[2018-09-27 22:38] insomniacslk commented on #35
no problem, thank you and please keep testing and reporting bugs! :)

[2018-09-28 16:40] Syloq opened #37 "ACTION displaying incorrectly"
This is probably more of a feature request than a bug. But when you issue a /me command from your IRC client it shows up as:

ACTION is bored

And likewise in the IRC client, a /me command in slack just shows as a regular PRIVMSG. No rush or hurry on it it's just something to think about in the future.

Thanks again for making this app.

[2018-09-28 18:42] Syloq opened #38 "ZNC having issues with too long of a message"
Today I was trying to connect to a slack where a channel that I was forced to belong to had 450+ users in it. The problem is that my ZNC bouncer was disconnecting because a command was being sent to the client that exceeded its limits. Here is an example of the messages that are being sent:

Sending numeric reply: :irc-slack-name-here 353 myUsername = #general :(list of users that is 450+ characte

[2018-09-29 12:39] insomniacslk opened #40 "High memory pressure"
`irc-slack` uses too much memory. Without any connection it takes around 1MB RSS, but a large Slack team (thousands of people) that I'm testing on is taking 200 MB RSS.
Furthermore, upon disconnection it does not release the used memory.

[2018-09-29 12:43] insomniacslk commented on #38
Thanks for reporting the bug! I will test on a large Slack team and let you know. Unfortunately I will be on business trip for the next two week, so apologies in advance for the high latency in responding here.

Oh no, please keep reporting all the bugs you find!
My use case is pretty limited (a few small teams and irssi) but the more use cases we cover, the better :)

[2018-09-30 18:29] chex3 commented on #40
Hello:

Thank you for opening this bug.  I am on the one having this issue, with a Slack named NetToCode.  When I just connect to that one slack, the paging of the users in each channel scrolls a lot, and the RSS memory usage quickly goes 1000 MB, and then crashes, because that server only has 1GB of RAM.

- Stefan

[2018-10-19 15:34] Syloq opened #42 "Notices for users"
This is definitely a feature request more than a bug. But when I issue a @usernameOnIRC it just comes across as just that straight text. Is there a way to do a translation so that the people on slack get the proper notification when messaging them?

It would appear that this translation already happens from slack to IRC, so half of the work is already done.

[2018-10-19 20:12] #42 closed

[2018-11-06 16:18] Syloq commented on #38
I know this is a somewhat fundamental change to the application, but do you need any help with testing a fix for this? This is literally the last hurdle I have to deal so I can stop using the web interface.

[2018-11-06 16:58] insomniacslk commented on #38
hey @Syloq , I don't think this is going to be hard to fix. I've come back from business trips two days ago, so I can have a look at it this week

[2018-11-06 20:49] insomniacslk commented on #38
@Syloq , do you have an example of how chunking should happen?

[2018-11-06 20:51] insomniacslk commented on #38
As per [RFC2812](https://tools.ietf.org/html/rfc2812),
[code]

[2018-11-06 20:54] Syloq commented on #38
@insomniacslk RFC2812 would be a standard way of handling these. ZNC and most other IRCd's handle it with different limits. Most clients, from my understanding, will handle the multiple messages individually as they come in. So you could send the same numeric each time with different data. The clients should be able to handle that just fine.

[2018-11-06 20:57] insomniacslk commented on #38
That's what I assumed at first, but I imagine there are commands that cannot be invariantly be broken into multiple lines

[2018-11-06 21:03] Syloq commented on #38
That's possibly very true, however, I'd imagine those numerics are only when connecting to the server itself. I don't have specifics on that behavior. I do believe is that there are a few numerics that are typically very long, like the 353 I mentioned initially, are done in such a way that clients will be able to handle the massive amount of messages.

[2018-11-06 21:05] insomniacslk commented on #38
I am thinking of something like "TOPIC", where someone sets a long topic whose numeric (332) exceeds the 512 bytes. If we blindly split, you would get two TOPIC lines, and the client believes that the topic has been changed more than once, and will take only the last chunk. Am I missing something?

[2018-11-06 21:12] insomniacslk commented on #38
If we can come up with a whitelist of numerics that can be split, I'd rather do that as a stop-gap. I guess we can start with the ones you faced, and add per need

[2018-11-06 21:12] Syloq commented on #38
That's a good point. It sounds like you'd have to enumerate which numerics are eligible for chunking. Not a great way of handling that for sure. And then in that light, you'd have to truncate some that are longer than the 510 characters.

[2018-11-06 21:13] insomniacslk commented on #38
I'll start with 353 for now, let me know if you find more candidates for chunking

[2018-11-06 21:18] Syloq commented on #38
I think 353 and 352 will be the best candidates. The first is a /names reply the other is a /who reply.

[2018-11-06 21:31] insomniacslk commented on #38
Thanks. I also assume that the safe way to split is by spaces. I see a few edge cases:

* what if a string is too long (e.g. nick very long nick). Return an error? Truncate silently? Drop the message?
* what if there are multiple contiguous spaces as separator? I guess it's safe to split normally and ignore that

[2018-11-06 21:36] Syloq commented on #38
Yes. That would be a standard way of dealing with it.

I'm not sure what limits slack has for this. But truncating silently might be a good idea because these messages are really only meant to be sent when joining or leaving a channel. IIRC.

If you could split on a "\w" that would be best, but I know performance hits can occur when using regex.

[2018-11-07 18:16] #38 closed

[2018-11-16 12:39] janza opened #48 "@here mentions don't work"
Using these mentions in channels doesn't send notifications to other users

[2018-11-19 08:46] #48 closed

[2018-11-19 08:52] insomniacslk commented on #20
Resolved in related PRs

[2018-11-19 08:52] #20 closed

[2018-11-19 08:53] #25 closed

[2018-12-20 18:47] alexfornuto opened #52 "Queries not showing up in chat lists."
First of all, thanks for the project!

When I connect to my IRC gateway using Quassel, queries don't show up in my chat list, only rooms. I haven't yet tried with other clients, but will try to do so.

[2018-12-20 20:44] insomniacslk commented on #52
Hey @alexfornuto , thanks for reporting this :) Would you be able to test it with a different client first? I am using weechat and irssi as reference clients, and queries work fine. If it's a Quassel-specific issue we can then debug it together. Thanks!

[2018-12-20 22:03] alexfornuto commented on #52
Unfortunately the admins of the Slack workspace I use revoked my token and forbade me from setting up an IRC bridge, so I won't be able to test that way.

If you have a test Slack workspace that you would like me to connect to to I could do some more A/B testing for the sake of the project, but if no one else is using Quassel and/or having this issue, I wouldn't be upset if you closed the issue.

[2018-12-21 15:52] insomniacslk commented on #52
I can use another Slack team for the purpose. I need to install Quassel to properly test this issue, this will take a few days though. I wouldn't close the issue and leave Quassel's users locked out :)

[2018-12-21 17:15] insomniacslk commented on #52
whoa, 300MB of dependencies! I should be able to test it today/tomorrow

[2018-12-21 19:33] insomniacslk commented on #52
this made me notice that TOPIC is broken too

[2018-12-21 20:13] insomniacslk commented on #52
TOPIC issue "fixed" in https://github.com/insomniacslk/irc-slack/commit/b9317eba3c7effbe42b1d03f9205685f660a26fa . Slack now uses Purpose, which is different from Topic, but what we want is the Purpose to be shown as IRC topic.

[2019-02-10 22:29] janza opened #63 "Supporting threads"
Are there already any ideas of how threads could be supported in irc-slack? Eg: creating a new virtual irc channel per thread or something similar?

[2019-02-19 22:38] insomniacslk commented on #63
Slack's threading interface is quite ugly in my opinion, and has several shortcomings. Your suggestion to use dedicated channels per thread is probably the one that better suits IRC, with only the risk is that we create a lot of channels on busy Slack teams. Still, it sounds the best trade-off.

Threads are documented here, https://api.slack.com/docs/message-threading , and to make things weirder

[2019-03-09 19:31] #63 closed

[2019-03-09 23:11] janza commented on #63
Actualy one thing I noticed still missing is creating a threaded conversation from IRC. I can live without this feature, but might be interesting to implement for some users.

Eg: a command where you can pass the number which represents the index of the message in a reverse chronological order. So if you want to reply to the last message you write: `/thread 1 my message is here`, for message sent

[2019-03-10 01:45] insomniacslk commented on #63
I like it. This could be used to send other slack commands (even raw commands), and deserves its own issue

[2019-05-10 18:34] pdellaert commented on #11
hi @insomniacslk , i noticed this issue still popping up, but in a somewhat different behaviour: I have a Slack environment where i'm part of 40 channels. And for the last 10 channels or so, it starts showing all the usernames as these `U...` nicknames.

However, when they type a message, i do see their proper handle.
Also, in our mandatory general channel, all users show up correctly, so it is ab

[2019-09-03 20:44] poVoq opened #69 "Remote user puppeteering on IRC?"
https://github.com/qaisjp/go-discord-irc

Maybe something to integrate / replicate?

[2019-09-05 06:26] insomniacslk commented on #69
I am not sure what the request is here, can you please expand?On 3 Sep 2019 13:44, poVoq <notifications@github.com> wrote:https://github.com/qaisjp/go-discord-irc
Maybe something to integrate / replicate?

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-05 06:28] insomniacslk commented on #34
this was done long time ago, closing

[2019-09-05 06:28] #34 closed

[2019-09-05 06:29] insomniacslk commented on #28
this was also fixed long time ago, closing

[2019-09-05 06:29] #28 closed

[2019-09-05 08:44] poVoq commented on #69
The bot bridge linked reads all the users on the Discord side and creates fake puppet users on the IRC side. So from IRC side it almost looks like the Discord users are real IRC participants and not just funneled through a single bot user.

[2019-10-02 09:19] shyim opened #70 "User name in channel list with user id"
I see in channel list ids of the user

[2019-10-02 09:55] shyim commented on #70
I had to reconnect. I guess the user cache is not ready

[2019-10-21 08:11] janza commented on #2
Done in #62

[2019-10-21 08:11] #2 closed

[2019-12-10 09:07] mihav opened #76 "Sending single word to channel / privmsg throws error"
When I'm trying to send single word/url to user or to channel, message is not relayed and console log throws "Invalid PRIVMSG command args" error:

2019/12/10 09:51:01 127.0.0.1:51172: PRIVMSG user https://github.com/insomniacslk/irc-slack/issues
2019/12/10 09:51:01 Invalid PRIVMSG command args: [user https://github.com/insomniacslk/irc-slack/issues]
2019/12/10 09:51:01 Got new message {@user  }

[2019-12-20 18:32] insomniacslk commented on #76
hi @mihav , I am finally catching up with issues here, apologies for the delay! I'll work on this one today, thanks for reporting it :)

[2019-12-20 18:42] insomniacslk commented on #76
@mihav I'm not able to reproduce the issue here, I've just sent a single-word message to a channel and to an user without problems, and I see the message relayed and showing up correctly. Same thing if I send an URL as only message.
I can imagine of two things:
* your irc-slack checkout is outdated: easy fix, just git pull and re-run
* your IRC client may do something we don't handle. In which cas

[2019-12-20 18:44] insomniacslk commented on #70
thanks for reporting this! I'll have a look today

[2019-12-20 18:48] insomniacslk commented on #70
so - I had noticed the same issue a while back, and restarting irc-slack helped. I assume this happens when a new user joins the slack team

[2019-12-21 11:23] insomniacslk commented on #52
I am testing this again today

[2019-12-21 11:24] insomniacslk commented on #52
@alexfornuto I've tested it from Quassel and private messages work fine, probably fixed in some past commit. I'm closing this issue now but please reopen it if you feel this is not fixed yet. Thanks!

[2019-12-21 11:24] #52 closed

[2019-12-21 11:30] insomniacslk commented on #40
hey @chex3 :) I'm catching up with these issues now. I am testing it on two heavy slack teams (networktocode and u-root) and the RSS seems to stabilize around 40MB. Can you please re-test this on your side and let me know? I think this was a memory leak fixed by #79

[2019-12-21 11:32] insomniacslk commented on #40
Right now using this to measure RSS every 30 seconds:
[code]

[2019-12-21 11:36] insomniacslk commented on #40
I also notice that on reconnections the memory goes up again - slightly, but up.  This is a different issue but worth tracking here

[2019-12-23 22:18] insomniacslk commented on #9
fixed by https://github.com/insomniacslk/irc-slack/pull/73

[2019-12-23 22:18] #9 closed

[2020-01-05 19:51] mihav commented on #76
I'm running commit b53c50e6b9510bae8ae472eac7a49fd1e83492a5 from Nov 19.
As for client, I'm using quassel daemon/server combination (version 0.13.1). There is nothing is its debug log though.

I'll update build tomorrow and retry, maybe even with some other IRC client.

[2020-01-05 22:09] janza commented on #76
@mihav can you try using the patch in #84, I believe that should fix your issue.

[2020-01-06 07:10] mihav commented on #76
Works with your patch. Thanks.

[2020-01-06 09:06] insomniacslk commented on #76
Thanks both for debugging and fixing this!

[2020-01-06 09:07] #76 closed

[2020-01-07 01:28] gpl opened #85 "Sending messages to self on slack creates PMs with message as username"
Found an odd bug:

When sending messages to yourself on the Slack web client, it results in the words you sent created as users.  To be more specific -- if you send the words `Hello World` to yourself on slack, a "user" `Hello World` sends an empty message.

![image](https://user-images.githubusercontent.com/39648069/71861016-abe8fa00-30a9-11ea-94c1-6a507b21f671.png)

Here's what I pulled from my

[2020-01-07 21:33] insomniacslk commented on #85
Hi @gpl, thanks for reporting this! This is because we explicitly discard conversations with a single user, see https://github.com/insomniacslk/irc-slack/blob/master/event_handler.go#L111 .

However this seems a legitimate, yet unusual, use case, so I'll make a patch soon

[2020-01-07 21:43] insomniacslk commented on #85
@gpl the patch at https://github.com/insomniacslk/irc-slack/pull/86  seems to work for me. Can you please try it and let me know? Thanks!

[2020-01-07 21:48] gpl commented on #85
Yep, patch works as expected, thanks!

[2020-01-07 21:58] insomniacslk commented on #85
Thanks for checking!

[2020-01-07 21:58] #85 closed

[2020-01-23 17:13] insomniacslk opened #87 "Fix bug when reacting to multi-line messages"
When a user reacts to a multi-line message, the reaction is reported (via notice) on the first line, but not on the subsequent lines, which trigger an invalid IRC command (visible in the status window of most clients).

Repro: react on a multi-line message, and observe the notice only on the first line and the error messages in the status window

[2020-01-24 23:16] #87 closed

[2020-02-27 14:14] bougyman commented on #70
The user list (in irssi) in most of my channels shows the slack ID, not the users's name. Also it doesn't seem to honor 'display name' of the users. A few channels user lists (with the /names command) _do_ show their slack 'name' (not display name), but most show that U02938495 thing.

[2020-03-19 15:14] martinetd opened #91 "irssi channel window duplicated on slack reconnect"
Hi,

thanks for this! This is much better than the bitlbee purple-slack gateway I had been using until. . . today, in a lot of small details, which I like.

I just have an issue when the server disconnects (happens pretty often from experience, remote closed the connection on slack side - I used to see this about once or twice a day), this also disconnects the irc client which reconnects 5 mins la

[2020-03-19 16:01] b4ldr opened #92 "puppet module"
Hi thanks for the work,

just wanted to let you know i created a quick puppet module for this project

https://github.com/b4ldr/puppet-irc_slack

[2020-03-19 22:54] martinetd commented on #91
hmm, nevermind, on both points -- for some reason the second time around it kept my channels where they were, and I just noticed first reconnect was immediate. I'll go back to bed, everything works better after some sleep -- sorry for the noise and thanks again anyway :)

[2020-03-19 22:54] #91 closed

[2020-03-23 18:17] janza commented on #69
That is how this gateway currently behaves, in IRC you see usernames of slack users not a bot user, and in slack you see messages posted by the user who's token is used in the gateway configuration.

[2020-04-08 12:59] habys opened #94 "Can this continue to function with the deprecation of legacy API tokens?"
I don't really understand what "slack apps" can support.

[2020-04-08 13:36] insomniacslk commented on #94
is there an announced deprecation date? If so, we need an alternative method

[2020-04-08 17:06] habys commented on #94
https://api.slack.com/legacy/custom-integrations/legacy-tokens
reports:
This tool will not allow creation of new tokens beginning May 5th, 2020. Learn more about why you shouldn't use it anymore.

[2020-04-09 10:37] insomniacslk commented on #94
If I understand correctly, the only option is to create a Slack App, and Slack Apps don't allow posting on behalf of the user

[2020-04-12 23:08] janza commented on #94
If I'm reading the documentation correct it should still be possible to _impersonate_ the user with Apps: https://api.slack.com/messaging/sending#impersonation. We'd need to use _user token_ with the App https://api.slack.com/authentication/token-types#user

[2020-04-12 23:35] insomniacslk commented on #94
yes it's possible with the approach you suggested, and if I understand correctly we need to write a small app with the appropriate permissions to retrieve the user token. I hope there's a simpler approach, but meanwhile I'm looking into what it takes to get such token with the right permissions

[2020-04-13 13:17] insomniacslk commented on #94
In #99 I'm trying the Oauth token approach, please take a look

[2020-04-20 23:41] insomniacslk commented on #94
I've merged #99. Needs more validation with the users who have trouble with that approach

[2020-04-24 00:06] gpl opened #100 "Sending messages over slack results in a PM from self on IRC"
Found another interesting bug --

Appears to be implemented properly for channels, but seems to be broken on PMs.

Reproduction steps:

1) Send message on the official slack client to another user JohnDoe over PM
2) receive message on the buffer labeled with your slack username as opposed to the buffer w/ user JohnDoe

Here's what I pulled from tcpdump -- (although I think this is correct?  Might

[2020-04-24 13:41] gpl commented on #100
Ah, this is definitely a quassel issue.  Was unable to reproduce the behavior on other clients.

[2020-04-24 13:41] #100 closed

[2020-04-24 19:17] insomniacslk commented on #100
No worries! If the issue only shows up on Quassel we can see if there's a workaround until the bug (if any) is fixed on their side

[2020-04-29 15:48] LoLei opened #104 "Irssi server add command does not work"
## Problem
If I use the Irssi command to add the server as described in the Readme, it results in a wrong entry in the Irssi config file.

Commands in Readme:
[code]

Results in Irssi config:
[code]

Running `/connect SlackYourTeamName` afterwards results in:
[code]

## Solution
Add `-network` to the `/server add` command.
[code]
Which results in this:
[code]

[2020-04-29 15:59] LoLei commented on #104
I've created a PR (#105) to add the change.

[2020-04-29 16:10] LoLei opened #106 "Docker does not listen"
### Problem
[code]

However, the Docker container process does not listen on port 6666, as stated in the log.

[code]

If I use the git repo and build and run it myself it works:
[code]
[code]

[2020-04-29 16:42] #104 closed

[2020-04-29 16:44] insomniacslk commented on #106
The README is missing the `-p` argument on the docker command line, I'll add it in a bit. Basically just add `-p 6666:6666`, the first is the port bound in the container, the latter is what you will see on the host side, and you can use whatever you want there

[2020-04-29 17:34] insomniacslk commented on #106
@LoLei can you check the fix at #107 ?

[2020-04-29 17:35] LoLei commented on #106
I'm building the new Dockerfile right now.

[2020-04-29 18:22] #106 closed

[2020-04-29 19:11] insomniacslk commented on #94
This is fixed by https://github.com/insomniacslk/irc-slack/pull/108

[2020-04-29 19:17] insomniacslk commented on #94
I've merged #108, I think we are all set here and we can survive the legacy token shutdown

[2020-05-02 14:13] insomniacslk commented on #7
I guess that with the docker integration this is not needed anymore, feel free to reopen if you think otherwise

[2020-05-02 14:13] #7 closed

[2020-05-02 14:15] insomniacslk commented on #24
This evolved differently, GetUserByID was removed and GetUserInfo is now lightweight

[2020-05-02 14:15] #24 closed

[2020-05-02 16:35] insomniacslk opened #116 "Implement WHO command"

[2020-05-02 19:34] insomniacslk commented on #116
Fixed by #117

[2020-05-02 19:34] #116 closed

[2020-05-02 19:35] insomniacslk commented on #16
Well, actually, we can add a lot more information here. Reopening this

[2020-05-03 00:31] #94 closed

[2020-05-03 22:40] insomniacslk commented on #40
So, the old memory leak was fixed months ago. At least the memory usage doesn't climb anymore.

Just tried again on the NetworkToCode Slack team, it has ~14000 users, and it takes 154 MB of ram, as opposed to the ~1GB reported by @chex3 above. If the usage was naively linear, this would mean ~10kb of RAM per user. I think it's good enough to close this issue.
There are probably other ways to furth

[2020-05-03 22:40] #40 closed

[2020-05-03 22:50] insomniacslk commented on #40
And also just verified that on gophers.slack.com (~50.000 users) it takes about 600MB of RSS, the numbers seem correct

[2020-05-04 11:28] insomniacslk commented on #92
Thanks @b4ldr ! I've added this information to the README in https://github.com/insomniacslk/irc-slack/pull/119

[2020-05-04 11:29] b4ldr commented on #92
thanks

[2020-05-04 11:29] #92 closed

[2020-05-04 14:33] #6 closed

[2020-05-04 23:41] insomniacslk commented on #5
This will happen in two steps:
1. add flag to pass key and cert files
2. add support to automate this process using Letsencrypt

[2020-05-05 22:49] insomniacslk commented on #70
can you please let me know if this is fixed for you? At the moment I can't reproduce it

[2020-05-10 15:54] insomniacslk commented on #16
#125 adds some more fixes and additional info

[2020-05-10 16:22] insomniacslk opened #126 "Reply with RPL_NOTOPIC if no topic is set"
[code]
See https://tools.ietf.org/html/rfc1459

[2020-05-10 18:35] chex3 opened #127 "Use slacks 'away' flag when loading slack users"
I am having an issue with irc-slack when connecting to public, highly trafficked slacks with lots of users, who are now inactive on the slack.  Thousands of mostly inactive users create memory usage in the app which is excessive on the small VPS server I run this app on.

Slack seems to have a concept of an 'away' slack user when they have been away/logged out of the slack for an extended time.

I

[2020-05-10 18:55] insomniacslk commented on #127
One way could be to only store users that are not away, but since this may not be desirable for everyone, it could go behind a command-line flag.

Another option is to profile the application and see what of those ~10kb/user could be shaved off.
I'll give it a look during next week. Thanks for reporting it!

[2020-05-10 20:19] chex3 commented on #127
To be clear, this 'away' flag seems to be something set for users who have been inactive/logged-out of the slack for a long time, not something user-set for if someone is logged in to the slack and are manually setting that are 'away' in the IRC sense.
EDIT: Nope, I am incorrect. A user can set themselves as being 'away' on the user-profile dock, but I wonder how many people actually use this feat

[2020-05-21 22:30] ngortheone opened #128 "My own messages are shown twice"
Hi. First off thanks for the great app!

I use Quassel IRC and when I send a message a split second later the same message appears again. As if I sent it twice.

Others do not see doubled messages, even I don't see it in native slack client. So it is probably something between Quassel and irc-slack that makes Qassel show my own message 2 times.

[2020-05-21 23:28] chex3 commented on #128
I have this issue, with irssi, also.

- Stefan

[2020-05-23 20:15] ajgon commented on #128
Same problem with thelounge.

[2020-05-27 12:13] Poil commented on #70
On my side I have a lot of warn  ̀Could not fetch user UEQQTF955, not in user map`
Some user are resolved in a chan but not in another one.
It should be nice to cache the users information to be able to reuse them without querying the API at each re-connection

[2020-06-11 17:37] janza commented on #128
Hi, are you using Slack App token or legacy tokens for authentication with slack?

[2020-07-10 19:55] SecurityInsanity opened #130 "Getting Connection Timeout Trying to Setup new Connection"
Hey! Thanks for this tool. I'm just getting started, so I may be doing something wrong, but I seem to be running into an issue trying to setup a connection.

I've gone ahead, and grabbed a token/cookie value from my browser, and set them as my IRC Password, however I'm still getting a failure to conenct. Upon turning on debug logging I see:

[code]

I'm pretty certain I've copied both the cookie,

[2020-07-11 00:12] insomniacslk commented on #130
Hi @SecurityInsanity , thanks for your feedback! The first thing that looks odd to me is the empty Slack websocket URL on the third line of the log, where it says "Using URL:", there I expect something like wss://cerberus-xxxx.lb.slack-msgs.com/websocket/XXXX (where XXXX is specific to your connection). In this case there seems to be just a newline instead. This comes [from the slack library](http

[2020-07-11 00:14] insomniacslk commented on #130
Also can you confirm that the token you obtain with `autotoken` is of the form `xoxp-XXXX|d=YYYY;`? The important details are the `|d=` and the `;` at the end. Thanks!

[2020-07-11 00:23] SecurityInsanity commented on #130
Hey! @insomniacslk ,  Autotoken doesn't seem to work for me (I believe it's because I have MFA!). However the tokens I have are in the format:

[code]

Using irssi I get the same result which (is good(?)):

[code]

[2020-07-11 00:32] insomniacslk commented on #130
Yes, MFA would make autotoken fail (and it should be possible to add support for it).

Since you've used the manual procedure, it's still possible that the token is invalid. When I tried it the first few times I copied the percent-encoded string instead of the decoded string. In the browser console the token can show up in both ways, depending on where it was copied from. Could you please check th

[2020-07-11 00:44] SecurityInsanity commented on #130
I can confirm there is no percents in the cookie value (or in the xoxc- value). The cookie seems to be a valid base64 string.

Anyway I can perhaps try manually using the cookie with  curl, or something of the like to validate it's correctness?

[2020-07-11 04:52] SecurityInsanity commented on #130
I disabled mfa and used autotoken, and it looks like it actually wanted the percent encoded value for me, and not the non-percent encoded value.

[2020-07-11 04:52] #130 closed

[2020-07-11 16:33] insomniacslk commented on #130
@SecurityInsanity I have implemented MFA support in `autotoken` in https://github.com/insomniacslk/irc-slack/pull/131 , hope that helps

[2020-07-12 01:26] insomniacslk commented on #70
work in progress in https://github.com/insomniacslk/irc-slack/pull/132

[2020-07-12 12:25] insomniacslk opened #133 "Handle certain failed JOIN as BAN"
For example when the join failure reason is `is_archived`. See other errors at https://api.slack.com/methods/channels.join

[2020-07-12 15:19] insomniacslk commented on #127
This should also be indirectly addressed by https://github.com/insomniacslk/irc-slack/pull/132

[2020-07-12 15:20] insomniacslk commented on #69
closing this as this behaviour already exists, feel free to reopen for further discussion

[2020-07-12 15:20] #69 closed

[2020-07-12 15:21] insomniacslk commented on #5
The first item was implemented in https://github.com/insomniacslk/irc-slack/pull/120 .

The second one (automate through LetsEncrypt) is still pending

[2020-07-12 15:34] insomniacslk opened #134 "Handle user change event and show nick change if relevant"
Currently `slack.UserChangeEvent` simply triggers an update in the user cache, but if the user has changed nickname this is not shown in the channels.

[2020-07-12 22:54] insomniacslk commented on #70
@shyim @bougyman @Poil can you check that the latest commit (after https://github.com/insomniacslk/irc-slack/pull/132 ) fixes this for you?

[2020-07-13 19:15] SecurityInsanity commented on #130
Thanks @insomniacslk , seems to be working for me so I can re-enable MFA. I appreciate your work on this!

[2020-07-14 13:53] insomniacslk commented on #128
Now I'm seeing this too, using a refreshed token/cookie on an MFA-enabled account. @ngortheone @chex3 @ajgon are you still seeing this? And as Josip was also asking, which type of token are you using?

[2020-07-17 16:41] insomniacslk commented on #128
Btw I plan to fix this over the weekend

[2020-07-17 17:55] insomniacslk commented on #128
quick repro: this happens only with token+cookie, not with legacy tokens

[2020-07-17 18:13] chex3 commented on #128
Hi, I am definitely still seeing this issue, and yes, I use token+cookie.

- Stefan

example:

11:10:58    chex38 | woo hooo
11:10:59 U0SN7DR1S | woo hooo
11:11:07    chex38 | do you see messages double??
11:11:08 U0SN7DR1S | do you see messages double??

[2020-07-17 21:13] insomniacslk commented on #128
The reason is that Slack sends an event with your own message when using the new style tokens.

This should be fixed in https://github.com/insomniacslk/irc-slack/pull/135 . Can people on this thread test it too before we merge it?

[2020-07-17 21:51] janza opened #136 "App on slack.efi.re throws 502 error"
I was trying to get the app token but the hosted application seems to be down.

[2020-07-17 22:41] #128 closed

[2020-07-17 22:42] insomniacslk commented on #136
I developed the app before developing `autotoken`, which is way better, so I disabled it. Do you think it's still valuable to have?

[2020-07-17 22:43] insomniacslk commented on #136
the downside of the app is that people have to trust it to be non-malicious, and I'd rather have them not trust anyone, including my own hosted app (reason why I shared the source code under `tools/`)

[2020-07-20 11:39] janza commented on #136
Oh, I missed the part about authentication using user tokens in README. Seems like hosting the app is not needed indeed, but would be good to remove it from the README.

[2020-07-20 12:32] #136 closed

[2020-07-20 12:37] insomniacslk opened #138 "Add feature matrix on README"
We should remove the sentence that says "The code quality is currently at the works-for-me level, but it's improving steadily." because that's not true anymore (irc-slack is pretty solid now), and replace it with a feature matrix so people know what works and what not, and we know what needs to be implemented next

[2020-07-22 22:26] insomniacslk commented on #127
Closing this as the underlying issue is addressed by faster loading, feel free to reopen if needed

[2020-07-22 22:26] #127 closed

[2020-07-22 22:28] insomniacslk commented on #70
This should be fixed now - feel free to reopen if you still see the problem

[2020-07-22 22:28] #70 closed

[2020-11-24 23:06] emersion commented on #130
I can confirm the cookie value needs to be percent-encoded, or otherwise causes an auth failure.

[2021-01-18 13:13] insomniacslk opened #148 "Fix `cannot create nick "" for channel "+chan-12345"`"
When replying to a multiline message in a thread, the server erroneously replies with messages like
[code]

[2021-01-19 14:39] gjabell opened #153 "Messages posted to threads show up in 1-on-1 channels"
Thanks for this project, makes slack much nicer to use than with their web UI :)

It seems that if someone responds to a thread while there is also a 1-on-1 chat open for that same user (for example from /QUERY), then the message they posted to the thread will appear in the 1-on-1 chat rather than under the thread. Note that the thread "channel" still opens, but the messages aren't posted to it.

[2021-01-19 15:32] insomniacslk commented on #153
Hey @gjabell , thanks for your feedback!
I have tried to reproduce the bug without luck, please help me understand if I did the right thing:
* created a private chat with a friend
* asked my friend to reply me on a thread on another channel
* verify that that the thread reply appears on the thread channel rather than the 1:1 chat

After doing so, I got my friend's reply on the thread channel as ex

[2021-01-20 11:18] gjabell commented on #153
Thanks for the quick response! Yes that should be the reproduction steps; it seems it is also an issue if there is not already an open chat with the user, ie anything sent in the thread channel appears instead under the private chat that automatically opens.

Here are the relevant debug logs (hopefully removed any private info):
[code]

Also worth noting that I am using Weechat, so this might be a

[2021-01-21 00:42] insomniacslk commented on #153
Can you help me reproduce this together? Are you on the Gophers slack by any chance?

[2021-01-21 10:19] gjabell commented on #153
@insomniacslk I'd be happy to; I'm not on the Gophers slack but I can join if it's open-registration.

[2021-01-21 10:29] insomniacslk commented on #153
Yes, it's open, this should let you get an invite, https://invite.slack.golangbridge.org/

[2021-01-22 15:07] insomniacslk opened #161 "Clean up resources after disconnecting from a team"
Currently the IRC Context is not cleaned up upon disconnection, and leaks memory until irc-slack is restarted. This increases memory pressure when disconnecting from large teams (e.g. on the Gophers team, currently ~65k people, it takes ~200MB of RSS)

[2021-01-27 00:28] insomniacslk opened #166 "Support messages and threads to self"

[2021-01-27 00:30] insomniacslk commented on #153
Should be fixed by https://github.com/insomniacslk/irc-slack/pull/165

[2021-01-27 14:00] insomniacslk opened #167 "Send IM thread to a thread channel"
Right now a thread in an IM sends in the IM chat itself, rather than in a thread chat

[2021-01-27 14:00] insomniacslk opened #168 "Support sending messages in thread and multiparty IMs"
Currently only receiving messages in threads and mp-IMs is supported

[2021-01-27 14:25] insomniacslk commented on #153
waiting on @gjabell to confirm before closing this :)

[2021-01-28 13:50] gjabell commented on #153
Seems to work correctly for me now, thanks for all the support!

[2021-01-28 13:50] #153 closed

[2021-03-24 15:14] caywin25 opened #170 "Failed to fetch users by their IDs: internal_error"
Hello,

Thank you for your job.
I'am testing irc-slack but when I want to connect on my slack team, I have this error in irssi :

Failed to fetch users in channel `<channel_name> (channel ID: XXXXXXX): Failed to fetch users by their IDs: Post "https://slack.com/api/users.info": connection error: PROTOCOL_ERROR

Could you help me please ?
Thank you

[2021-03-26 14:15] insomniacslk commented on #170
This seems to come from `net/http` (https://github.com/golang/go/blob/master/src/net/http/h2_bundle.go#L1114)  and from a quick look at that file it seems something went wrong in the HTTP communication between irc-slack and the Slack API service. Do you see this problem with other API calls too? Can you reproduce this consistently, or is it intermittent?

[2021-07-08 21:48] rodarima commented on #170
This problem seems to be caused by the slack-go library attempting to [include a long list of users](https://github.com/slack-go/slack/blob/master/users.go#L267) in the `user` field, which the current API doc [only specifies one](https://api.slack.com/methods/users.info#arg_user).

Here is more info:
[code]
Here is the data in plain text:
[code]
Reducing the number of users fetched at the same tim

[2021-09-01 18:38] dmulder opened #177 "irc-slack + znc constantly adding new channels"
I paired irc-slack with a znc server, and it's constantly adding new channels to my irc client (and I can see them in the znc settings also). Every time somebody comments in certain channels (such as our help-slack channel), I get a new channel added called +<channel-name>-0000000000000, where the zeros are some long random number.
I'm guessing this is some kind of bug?

[2021-09-01 18:41] dmulder opened #178 "irc-slack 'reactions' being sent to the wrong channels"
Random 'reactions' (such as a thumbs up) get thrown all over the place in random channels. These are legitimate reactions from people, but from completely different channels.

[2021-09-02 07:07] johseg commented on #177
I have the same issue without znc. Just irc-slack and irssi

[2022-08-19 14:45] zachdecook opened #180 "Only one private channel working. Other channels sent to <unknown-channel>"
When I connect, it connects to only one private channel, `@dev-general` the rest of the messages from the other private channels show up all in one <unknown-channel>. (private messages still come in fine).

This is strange, as ircslack seems to know about the channels

[code]

[2022-08-19 17:08] zachdecook commented on #178
I've seen this with a reaction to a threaded message being sent as if to the parent message (in the #180 unknown channel)

[2022-08-19 20:51] zachdecook commented on #168
Example error message for private channel/thread from me

[code]

[2022-08-22 14:47] zachdecook opened #182 "Members of private channels and threads not shown"
Members for DMs and public channels show, but for private channels and threads, the members are not shown.

[2022-08-22 21:13] zachdecook commented on #182
I have this issue with senpai: Only things starting with "#" or "&" are classified as channels (`chantypes`). "@+" are `prefixSymbols`.

We should send a CHANTYPES message so it knows that `@` and `+` are valid symbols for channels.